<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antplatform.admin.biz.mapper.OrganizationUserMapper">
  <resultMap id="BaseResultMap" type="com.antplatform.admin.biz.model.OrganizationUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="organization_id" jdbcType="INTEGER" property="organizationId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, organization_id, user_id, is_delete
  </sql>
</mapper>