<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antplatform.admin.biz.mapper.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.antplatform.admin.biz.model.Permission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="keypoint" jdbcType="VARCHAR" property="keypoint" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="page_name" jdbcType="VARCHAR" property="pageName" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_cache" jdbcType="BIT" property="isCache" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, name, alias, parent_id, keypoint, type, icon, path, url, page_name, level, description, 
    status, is_cache, is_delete
  </sql>
</mapper>